.projects {
  ul.project-list {
    li {
      list-style: none;
      padding: 0.5em;

      .box {
        border: 1px solid #ddd;
        background: #f8f8f8;
        border-radius: 3px;overflow: hidden;
        text-overflow: ellipsis;
        height: 20em;

        img { width: 100%; }
        .box-content {
          padding: 1em 0.75em;
          h3 { text-transform: uppercase;
            font-size: 1.125em;
            text-align: center;
            margin-bottom: 0.75em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .scrolling-container {
            font-size: 0.875em;
            line-height: 1.25em;
            overflow-y: auto;
            overflow-x: hidden;
            height: 7em;
          }
        }
      }

    }
  }
}