body {
  display: inline;
  padding: 0;
  margin:0;
  font-family: 'Roboto', serif;
  font-weight: 300;
  font-size: 1em;
  color: #333;
  overflow-x: hidden;

  &.scroll-past {
    .app {
      .navigation {
        @include transition(0.3s background);
        background: rgba(230,230,230, 0.1);
        .company {
          color: sienna;
          @include transition(0.3s opacity, 0.3s color);
        }
        .hamburger {
          &:before {
            @include transition(all 0.3s);

            background: sienna;
            box-shadow:
            0 0.25em 0 0 sienna,
            0 0.5em 0 0 sienna;
          }
        }
      }
    }
  }
}

input, select, textarea {
  font-family: 'Roboto', serif;
  font-weight: 300;
  font-size: 1em;
  background: #fff;
  resize: none;
  width: 100%;
  padding: 0.75em 1em;
  margin: 0 0.25em 0.25em 0;
  border: 1px solid #ddd;
  border-radius: 3px;
  @include box-sizing(border-box);
  @include button-outline-none();
}

textarea { height: 200px; }
h1, h2, h3, h4, h5, h6 { font-weight: 300; padding: 0; margin:0; }
ul, li { color: inherit; text-decoration: none; padding:0; margin:0; }
h1 { font-size: 2em; }
p { margin: 2em 0 2em 0; padding:0; line-height: 1.5em; }
div { @include box-sizing(border-box); }
a { color: #333; text-decoration: none; }
strong, b { font-weight: 400; }

.modal {
  @include transition(opacity 0.3s);
  @include opacity(0);
  position: fixed;
  background: rgba(0,0,0, 0.8);
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: -1;

  .close {
    position: absolute;
    top: 0;
    right: 0.75em;
    font-size: 2.5em;
    color: white;
    cursor: pointer;
  }

  &.active {
    @include transition(opacity 0.3s);
    @include opacity(1);
    z-index: 999;
  }
}

.app {
  position: relative;
  overflow: hidden;
  left:0;
  top: 0;
  @include transition(left 0.5s);

  .home {

    iframe { position: fixed; top:0; left:0; z-index: -1; border: none; margin: 0; padding:0; width: 100%; height: 100vh; }
  }

  &.collapsed {
    left: 15em;
    @include transition(left 0.5s);

    article.section {

      .aligned {
        @include transition(margin 0.3s);
      }
    }

    .navigation {
      background: rgba(255,255,255,0);
      @include transition(0.3 background);
      .company {
        @include opacity(0);
        @include transition(0.3s opacity, 0.3s color);
      }
    }
  }

  .navigation {
    @include box-sizing(border-box);
    position: fixed;
    top:0; left:0;
    width: 100%;
    padding: 0.75em;
    z-index: 99;

    &.solid { background: rgba(255,255,255, 0.3); }

    .hamburger {
      position: relative;
      cursor: pointer;
      width: 1em;
      height: 1em;
      float: left;
      margin-left: 0.5em;
      margin-top: 0.5em;


      &:before {
        @include transition(all 0.3s);
        content: "";
        position: absolute;
        left: 0;
        top: 0.25em;
        width: 1em;
        height: 0.15em;
        background: white;
        box-shadow:
        0 0.25em 0 0 white,
        0 0.5em 0 0 white;
      }
    }
    .company {
      @include opacity(1);
      @include transition(0.3s opacity, 0.3s color);

      color: white;

      display: inline-block;
      margin-top: 0.5em;
      margin-left: 0.75em;
    }
  }


  article.section {
    width: 100%;
    @include transition(margin 0.3s);
    @include box-sizing(border-box);

    &.header {
      height: 300px;
      position: relative;
      overflow: hidden;
      //background: -webkit-radial-gradient(60% 55%, closest-corner, brown, sienna, white) !important; /* Safari 5.1 to 6.0 */
      //background: -o-radial-gradient(60% 55%, closest-corner, brown, sienna, white) !important; /* For Opera 11.6 to 12.0 */
      //background: -moz-radial-gradient(60% 55%, closest-corner, brown, sienna, white) !important; /* For Firefox 3.6 to 15 */
      color: white;
      background: transparent !important;

      .background-mask {
        position: absolute;
        top:0;
        left:0;
        bottom:0;
        z-index: -1;

        width: 100%;
        height: 200vh;
        background: -webkit-radial-gradient(closest-corner at 70% 95%, rgba(160, 82, 45, 0.3), rgba(160, 82, 45, 0.5), rgba(160, 82, 45, 1));
        background: -moz-radial-gradient(closest-corner at 60% 55%, rgba(160, 82, 45, 0.3), rgba(160, 82, 45, 0.5), rgba(160, 82, 45, 1));
        background: radial-gradient(closest-corner at 60% 55%, rgba(160, 82, 45, 0.3), rgba(160, 82, 45, 0.5), rgba(160, 82, 45, 1));
      }


      .vertical-center {
        margin-top: 50px;

        .information {
          color: white;
          padding: 0.5em 8.5em;

          h1 {
            margin: 0;
            padding: 0;
          }
          p {
            margin: 0.5em 0 0 0;
            padding: 0;
          }
        }
      }
    }



    .aligned {
      width: 100%;
      margin: 0 auto;
      padding: 3em 4em;
      max-width: 1000px;
      @include transition(margin 0.3s);
    }

    &:nth-child(odd) {
      background: #f5f5f5;
    }
  }


}

button, .button {
  @include transition(background 0.3s);
  border-radius: 3px;
  color: white;
  border: none;
  font-weight: 300;
  font-size: 1em;
  background: brown;
  padding: 0.75em 1.25em;
  cursor: pointer;
  text-transform: uppercase;
  @include button-outline-none();

  &:hover {
    @include transition(background 0.3s);
    background: sandybrown;
  }
}

.menu {
  @include transition(width 0.5s);
  position: fixed;
  width: 0;
  background: #eee;
  text-align: center;
  height: 100vh;
  left:0;
  top: 0;
  overflow: hidden;

  img.logo {
    width: 192px;
    padding: 24px;
    position: absolute;
    top: 0;
    left: 0;

  }

  &.collapsed {
    @include transition(width 0.5s);
    width: 15em;
  }

  ul {
    @include transform(translateY(-50%));
    position: relative;
    top: 50%;
    li {
      cursor: pointer;
      color: #888;
      padding: 1em;
      &:hover {
        span {
          padding: 0 1em;
          border-left: 2px solid brown;
        }
      }

      span {
        @include transition(opacity 0.3s, padding 0.3s); @include opacity(0); padding: 0 10em 0 0;
        &.fadeIn {  @include transition(opacity 0.3s, padding 0.3s); @include opacity(1); padding: 0 1em; }
      }

    }
  }
}

.center { text-align: center; }
.left   { float:left;   }
.right  { float: right; }