ssh.pem
*.DS_Store

*.iml
/.idea/*
.idea/*
.sublime
nbproject
npm-debug.log
*.log

/bower_components/*
bower_components/*

/node_modules
node_modules

/css/main.css
css/main.css
/js/main.js
js/main.js