<div class="contact" ng-controller="ContactController">
    <article class="section header">
        <div class="background-mask"></div>
        <div class="aligned">
            <div class="vertical-center">
                <h1>Contact Me</h1>
                <p>Feel Free to contact me with any questions.</p>
            </div>
        </div>
    </article>

    <article class="section">
        <div class="aligned">

            <iframe width='100%' height='350px' frameBorder='0' src='https://a.tiles.mapbox.com/v3/cohhe.ggfgekga/mm/zoompan,geocoder.html?secure=1#15/21.286029/-157.837342'></iframe>
            <div>
                <div class="col-6"><input placeholder="Name" /></div>
                <div class="col-6"><input placeholder="Email" /></div>
            </div>
            <input placeholder="Subject" />
            <textarea placeholder="Message"></textarea>
        </div>
    </article>
</div>