<div class="contact" ng-controller="ContactController">
    <article class="section header">
        <div class="aligned">
            <div class="vertical-center">
                <h1>Contact Me</h1>
            </div>
        </div>
    </article>

    <article class="section">
        <div class="aligned">
            <div>
                <div class="col-6"><input placeholder="Name" /></div>
                <div class="col-6"><input placeholder="Email" /></div>
            </div>
            <input placeholder="Subject" />
            <textarea placeholder="Message"></textarea>
        </div>
    </article>
</div>