<div class="projects" ng-controller="ProjectsController">
    <article class="section header">
        <div class="background-mask"></div>
        <div class="aligned">
            <div class="vertical-center">
                <h1>Interesting Projects</h1>
                <p>
                    Projects I've worked on over the years, either on my own personal time <br/>
                    or through my professional career.
                </p>
            </div>
        </div>
    </article>

    <article class="section">
        <div class="aligned">

            <ul class="project-list">
                <li class="col-4" ng-repeat="project in projects">
                    <div class="box">
                        <a href="{{ project.link }}"><img ng-src="{{ project.image }}" /></a>
                        <div class="box-content">
                            <h3>{{ project.name }}</h3>
                            <div class="scrolling-container">{{ project.description }}</div>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </article>
</div>